.task-list table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.task-list table th,
.task-list table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.task-list table th {
    background-color: #b2d7ff;
}

.task-list table tr:nth-child(even) {
    background-color: #d2d2d2;
}

.task-list table tr:hover {
    background-color: #a5a5a5;
}
.content {
    margin: 0;
    padding: 0;
}
.container {
    display: initial;
    justify-content: initial;
    align-items: initial;
    height: initial;
}
